In [2]:
#Importing dependecies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

Data collection and preprocessing

In [3]:
#Data collection and preprocessing

In [5]:
#loading the dataset and coverting it from csv file to pandas DataFrame
diabetes_dataset = pd.read_csv('diabetes.csv')
diabetes_df = pd.DataFrame(diabetes_dataset)

In [6]:
diabetes_df.head()

,Unnamed: 0.1,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
diabetes_df.shape

(768, 11)

In [8]:
diabetes_df.describe()

,Unnamed: 0.1,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,383.500000,383.500000,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,221.846794,221.846794,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,191.750000,191.750000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,383.500000,383.500000,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,575.250000,575.250000,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,767.000000,767.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Separating Features and outcomes

In [10]:
#Separating Features and outcomes
X = diabetes_df.drop(columns='Outcome', axis=1)
Y = diabetes_df['Outcome']

In [11]:
X

,Unnamed: 0.1,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,0,6,148,72,35,0,33.6,0.627,50
1,1,1,1,85,66,29,0,26.6,0.351,31
2,2,2,8,183,64,0,0,23.3,0.672,32
3,3,3,1,89,66,23,94,28.1,0.167,21
4,4,4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...,...,...
763,763,763,10,101,76,48,180,32.9,0.171,63
764,764,764,2,122,70,27,0,36.8,0.340,27
765,765,765,5,121,72,23,112,26.2,0.245,30
766,766,766,1,126,60,0,0,30.1,0.349,47
767,767,767,1,93,70,31,0,30.4,0.315,23

In [12]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [13]:
#0-> Non-diabeteic
#1-> Diabetic

DATA STANDARDIZATION

In [14]:
#DATA STANDARDIZATION

In [15]:
scaler = StandardScaler()

In [16]:
standardized_data = scaler.fit_transform(X)

In [17]:
standardized_data

array([[-1.729797  , -1.729797  ,  0.63994726, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-1.72528645, -1.72528645, -0.84488505, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [-1.72077589, -1.72077589,  1.23388019, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 1.72077589,  1.72077589,  0.3429808 , ..., -0.73518964,
        -0.68519336, -0.27575966],
       [ 1.72528645,  1.72528645, -0.84488505, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [ 1.729797  ,  1.729797  , -0.84488505, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [18]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

SPLITTING THE DATASET INTO TRAINING DATA AND TESTING DATA

In [19]:
#SPLITTING THE DATASET INTO TRAINING DATA AND TESTING DATA

In [20]:
X_train , X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state=2)

In [21]:
print(X.shape, X_train.shape, X_test.shape)

(768, 10) (614, 10) (154, 10)