IMBALANCED DATA:
A dataset with an unequal class distribution

In [1]:
#IMBALANCED DATA:
#A dataset with an unequal class distribution

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
credit_dataset = pd.read_csv('credit_data.csv')
credit_df = pd.DataFrame(credit_dataset)

In [4]:
credit_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit_df.shape

(284807, 31)

In [6]:
credit_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#Distribution of the two classes
credit_df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [8]:
#This is highly imbalanced dataset 
#   0-> legit transactions
#   1-> Fraud transactions

In [9]:
#Separating the legit and frauduelent data
legit = credit_df[credit_df.Class == 0]
fraud = credit_df[credit_df.Class == 1]

In [10]:
legit.shape

(284315, 31)

In [11]:
fraud.shape

(492, 31)

UNDERSAMPLING

In [12]:
#Undersampling : 
#Building a sample dataset containing similar distribution of legit and fraud transactions
#Number of fraud transcation = 492

In [13]:
legit_sample = legit.sample(n=492)

In [14]:
legit_sample.shape

(492, 31)

In [16]:
#Concatnate the two DataFrames 
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [17]:
new_dataset.shape

(984, 31)

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
63666,50821.0,-0.554491,0.664154,1.094254,0.455625,-0.379716,-0.384942,-0.025613,0.489758,-0.035911,...,0.132945,0.478934,0.081843,0.462092,-0.560562,0.271601,-0.010851,0.001735,11.50,0
99378,67091.0,1.240333,0.219701,-0.175166,0.763671,0.557629,0.443742,0.082119,-0.034304,0.012347,...,0.081147,0.343447,-0.316621,-1.269550,0.846854,-0.142798,0.040309,0.011689,30.49,0
22563,32310.0,1.156857,-0.134686,1.007508,1.070117,-0.629162,0.508041,-0.707891,0.308035,0.747941,...,-0.060804,-0.025186,-0.096759,-0.359023,0.461030,-0.382586,0.064657,0.020316,9.99,0
2113,1627.0,-0.953611,1.447281,0.540884,0.484829,1.086185,-1.112102,2.087793,-1.653976,1.565212,...,-0.343364,0.671122,-0.029019,0.378211,-0.606462,-0.588946,-0.371882,-0.775072,1.23,0
102269,68111.0,-0.685235,-0.791945,3.101388,1.098874,-0.803735,0.315929,-0.968778,0.239347,-0.256780,...,-0.185997,0.269600,0.143891,0.577974,-0.593252,-0.226092,0.087917,-0.037322,29.00,0

In [19]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64